//tematy do Jarka viewEncapsulation - dodawanie atrybutów do selektorów a poznijesze uzywanie ich w pliku scss
.mat-mdc-dialog-actions {
    justify-content: space-between;
  }

  .form {
  width: 500px;
  height: auto;
}

input{
  size: 7px;
}
